* {
    margin: 0;
    padding: 0;


}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height:1.4;
}
a {
    text-decoration: none !important;
}

/*Header*/

.header{
    font-family: 'Raleway', sans-serif;
    position: static;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: white;
    background-color: #24292e;
    -webkit-box-shadow: 0 3px 3px -2px #000000;
    -moz-box-shadow: 0 3px 3px -2px #000000;
    box-shadow: 0 3px 3px -2px #000000;
    z-index: 9999;
}

.header__logo{
    color : rgba(255,255,255,0.75) !important;
    font-weight: bold;
    padding: 0 25px;
    float: left;
}


/* menu */
.menu{
    float: left;
}

.menu a{
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    padding: 0 10px;
}

/* Souligner depuis le centre */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #fc4c02;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}